@section styles
{

    <link rel="stylesheet" type="text/css" href="~/Content/angular-datatables.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/angular-datepicker.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/DataTables/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/DataTables/responsive.bootstrap.css" />


    <style type="text/css">
        .table-responsive {
            overflow-x: auto;
        }

        #NewElementModal .alert {
            padding: 5px;
            margin-bottom: 0px;
            margin-top: 5px;
        }

        input.ng-touched.ng-invalid {
            border-color: #f86c6b;
        }

        .invalid-group {
            color: #f86c6b;
        }

        .tab-pane {
            padding-top: 20px;
        }

        .form-control-danger {
            background-color: #d9534f !important;
            color: white;
        }

        .form-control-success {
            background-color: #5cb85c !important;
            color: white;
        }

        .table tbody > tr > td {
            padding: 5px !important;
        }
    </style>
}
@section scripts
{
    <script type="text/javascript" src="~/Scripts/customUtil.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-datepicker/angular-datepicker.js"></script>

    <script type="text/javascript">

        var INMEDIKApp = angular.module('INMEDIKApp', ["ui.bootstrap", "ui.bootstrap.tpls", 'datePicker']);
        INMEDIKApp.controller('ClinicController', function ($scope, $compile, $sce, $http) {
            var dt = this;
            dt.subbmiting = false;
            dt.saveComplete = false;
            dt.detail = false;
            dt.errors = [];
            dt.Cierre = {};
            dt.Cierre.denominationByCashCloseAux = [];
            dt.Cierre.expensesAux = [];
            dt.aheads = [];
            dt.Concepts = [];
            dt.regularExpretions = Ut_getRegularExpretions();
            dt.thaConcept = {};


            dt.AddConcept = function () {

                dt.subbmiting = true;
                mostrarPantallaCarga();
                $http({
                    method: 'POST',
                    url: '@Url.Action("ExistingValidation", "ShippingWarehouse")',
                    data: dt.thaConcept,
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(function (res) {
                    quitarPantallaCarga();
                    if (res.data.success) {
                        dt.saveComplete = true;
                        if (!dt.verifyObject(dt.thaConcept, dt.Concepts)) {
                            dt.Concepts.push(dt.thaConcept);
                            dt.thaConcept = {};
                            dt.Filters.concept = "";
                        }
                        else {
                            dt.errors[0] = "Ya existe el concepto seleccionado";
                            $("#resultModal").modal('show');
                        }
                    }
                    else if (res.data.success == undefined && res.data.indexOf("SignIn") > -1) {
                        dt.errors[0] = "La sesión ha caducado.";
                        $("#resultModal").modal('show');
                    }
                    else {
                        dt.subbmiting = false;
                        if (res.data.errors != undefined && res.data.errors && res.data.errors.length > 0) {
                            dt.errors = res.data.errors;
                        }
                        else {
                            dt.errors[0] = res.data.message;
                        }
                        $("#resultModal").modal('show');
                    }

                }, function errorCallback(res) {
                    quitarPantallaCarga();
                    console.log("error: " + res);
                    dt.subbmiting = false;
                });                
            };

            dt.Save = function () {
                dt.subbmiting = true;
                mostrarPantallaCarga();
                $http({
                    method: 'POST',
                    url: '@Url.Action("SaveShippingWarehouse", "ShippingWarehouse")',
                    data: dt.Concepts,
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(function (res) {
                    quitarPantallaCarga();
                    if (res.data.success) {
                        dt.Concepts = [];
                        dt.saveComplete = true;                   
                        $("#Save").modal("show");                        
                    }
                    else if (res.data.success == undefined && res.data.indexOf("SignIn") > -1) {
                        dt.errors[0] = "La sesión ha caducado.";
                        $("#resultModal").modal('show');
                    }
                    else {
                        dt.subbmiting = false;
                        if (res.data.errors != undefined && res.data.errors && res.data.errors.length > 0) {
                            dt.errors = res.data.errors;
                        }
                        else {
                            dt.errors[0] = res.data.message;
                        }
                        $("#resultModal").modal('show');
                    }

                }, function errorCallback(res) {
                    quitarPantallaCarga();
                    console.log("error: " + res);
                    dt.subbmiting = false;
                });
            }

            dt.verifyObject = function (object, myArray) {
                for (var i = 0; i < myArray.length; i++) {
                    if (myArray[i].conceptAux.name == object.conceptAux.name && myArray[i].warehouse.name == object.warehouse.name) {
                        return true;
                    }
                }
                return false;
            }

            dt.numberWithCommas = function(n) {
                return Ut_numberWithCommas(n);
            }

            dt.loadConcepts = function (val, cat) {
                return $http.post('@Url.Action("GetConceptsOfCategory", "Concept")', {
                    data: JSON.stringify({ typed: val, CategoryName: cat })
                }).then(function (response) {
                    return response.data.data.map(function (item) {
                        return item;
                    })
                });
            };

            dt.setConceptSelected = function (item, type) {
                dt.thaConcept.conceptAux = item;
                dt.thaConcept.quantity = 1;
            }

            dt.RemoveConcept = function (nombre,almacen) {
                dt.Concepts = dt.Concepts.filter(function (obj) {
                    return obj.conceptAux.name !== nombre || obj.warehouse.name !== almacen;
                });                
            }

            var init = function (urlMedics) {
                $http({
                    method: 'POST',
                    url: urlMedics,
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(function (res) {
                    if (res.data.success) {
                        dt.warehouses = res.data.data;
                        dt.Ready = true;
                    }
                    else if (res.data.success == undefined && res.data.indexOf("SignIn") > -1) {
                        dt.errors[0] = "La sesión ha caducado.";
                        $("#resultModal").modal('show');
                    }
                    else {
                        if (res.data.errors != undefined && res.data.errors && res.data.errors.length > 0) {
                            dt.errors = res.data.errors;
                        }
                        else {
                            dt.errors[0] = res.data.message;
                        }
                        $("#resultModal").modal('show');
                    }

                }, function errorCallback(res) {
                    console.log("error: " + res);
                });
            };

            dt.StartController = function (urlMedics) {
                if (!dt.Ready) {
                    init(urlMedics);
                }
            };
        });
    </script>
}
<div class="container-fluid" ng-controller="ClinicController as INMEDIKApp" ng-init="INMEDIKApp.StartController('@Url.Action("GetWarehousesNoPharmacy", "Warehouse")')">
    <div class="panel panel-default" style="min-height:500px">
        <div class="panel-heading">Envíos a sub-almacen</div>
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group col-md-4">
                    <label class="col-md-4 control-label">Almacen:</label>
                    <div class="col-md-8">
                        <select class="form-control" ng-model="INMEDIKApp.thaConcept.warehouse" ng-options="ct.name for ct in INMEDIKApp.warehouses track by ct.id">
                            <option value="">Seleccione...</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label class="col-md-4 control-label">Concepto:</label>
                    <div class="col-md-8">
                        <input type="text" placeholder="Escribir nombre" id="name{{type}}" name="name{{type}}"
                                ng-model="INMEDIKApp.Filters.concept"
                                uib-typeahead="item.name for item in INMEDIKApp.loadConcepts($viewValue,'Productos')"
                                typeahead-loading="loading"
                                typeahead-editable="false"
                                typeahead-no-results="noResult" class="form-control"
                                typeahead-on-select="INMEDIKApp.setConceptSelected($item,type)"
                                autocomplete="off" />
                        <span class="text-danger" ng-show="noResult">No se encontro coincidencias</span>
                        <span class="text-primary" ng-show="loading">Buscando...</span>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <label class="col-md-4 control-label">Cantidad:</label>
                    <div class="col-md-8">
                        <input type="number" placeholder="Cantidad" id="cantidad" ng-model="INMEDIKApp.thaConcept.quantity" class="form-control" />
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <input type="button" class="btn btn-default pull-right" value="Agregar" ng-disabled="!INMEDIKApp.thaConcept.quantity || !INMEDIKApp.thaConcept.warehouse || !INMEDIKApp.thaConcept.conceptAux" ng-click="INMEDIKApp.AddConcept()">
                </div>
            </div>
            <div class="form-horizontal">
                <table class="table table-bordered table-striped table-hover">
                    <tbody>
                        <tr>                            
                            <th class="text-center" style="width:40%">Almacen</th>
                            <th class="text-center" style="width:40%">Concepto</th>
                            <th class="text-center" style="width:10%">Cantidad</th>  
                            <th class="text-center" style="width:10%">Eliminar</th>
                        </tr>                                               
                        <tr ng-if="INMEDIKApp.Concepts.length <= 0" class="ng-scope">
                            <td colspan="4" class="text-center"><i>Sin Movimientos</i></td>
                        </tr>                   
                        <tr ng-if="INMEDIKApp.Concepts.length > 0" ng-repeat="x in INMEDIKApp.Concepts" class="ng-scope">     
                            <td class="text-center">{{x.warehouse.name}}</td>                       
                            <td class="text-center">{{x.conceptAux.name}}</td>
                            <td class="text-center">{{x.quantity}}</td>
                            <td class="text-center"><input type="button" class="btn btn-danger" value="Eliminar" ng-click="INMEDIKApp.RemoveConcept(x.conceptAux.name,x.warehouse.name)"></td>
                        </tr>
                    </tbody>
                </table>             
            </div>
            <div class="row col-md-12 pull-right">
                <input type="button" class="btn btn-success pull-right" value="Guardar" ng-if="INMEDIKApp.Concepts.length > 0" ng-click="INMEDIKApp.Save()">                 
            </div>
        </div>
    </div>
    <div id="Save" class="modal modal-primary fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Guardado</h4>
                </div>
                <div class="modal-body">
                    Se guardo correctamente.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </div>
    <div id="resultModal" class="modal modal-danger fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 ng-show="INMEDIKApp.errors.length!=0" class="modal-title">Errores encontrados</h4>
                </div>
                <div class="modal-body">
                    <ul ng-show="INMEDIKApp.errors.length!=0">
                        <li ng-repeat="err in INMEDIKApp.errors">{{err}}</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </div>
</div>