
@{
    ViewBag.Title = "Reservs";
}

<div class="form-group">
    <label class="control-label col-sm-3">Reservas Pendientes</label>

    <br />

    <div class="form-group">
        <table id="ReservTable" datatable dt-options="INMEDIKApp.dtOptions" dt-columns="INMEDIKApp.dtColumns" dt-instance="INMEDIKApp.InstanceCallback" class="table-hover table-bordered compact">
        </table>
    </div>

</div>
