<div id="TemplatesModal" class="modal modal-primary fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Templates</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="TemplatesTable" datatable dt-options="INMEDIKApp.dtTemplatesOptions" dt-columns="INMEDIKApp.dtTemplatesColumns" dt-instance="INMEDIKApp.TemplatesInstanceCallback" class="table-bordered compact"></table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>